ion-content {
    --background: url("../../assets/img/_c4ec2dd7-ebed-44ab-a50c-4cfe7e256a90.jpeg") 0 0/100% 100% no-repeat;
    .login-container {
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 8px;
        width: 300px;
        text-align: center;
        margin: auto;
        margin-top: 100px;
      
        ion-button {
          margin-top: 16px;
        }
      }
      
      h1 {
        color: #333;
      }
      
      form {
        ion-item {
          margin-bottom: 16px;
        }
      }
      
      p {
        margin-top: 16px;
        color: #777;
      }
      
      a {
        color: #3498db;
        text-decoration: none;
      }
      
      a:hover {
        text-decoration: underline;
      }
    .errors {
        font-size: small;
        color: #fff;
        background-color: var(--ion-color-danger);
        padding-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 5px;
    }

}