<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="userData!.name" label="İsim" type="text" placeholder="İsminizi Giriniz..." labelPlacement="stacked"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="userData!.email" label="E-Posta" type="text" placeholder="example@hotmail.com" labelPlacement="stacked"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="userData!.password" label="Şifre" type="password"  labelPlacement="stacked"></ion-input>
    </ion-item>
    <br>
    <ion-button (click)="kayit()" color="dark" fill="solid">
      <ion-icon slot="start" name="chevron-forward-circle-outline"></ion-icon>
      Giriş Yap
    </ion-button>
    <ion-button  fill="solid" [routerLink]="['/login']"  >
      Anasayfaya Dön
    </ion-button>
  </ion-list>
  
</ion-content>
